.shopping-history-button {
  margin-left: 1em !important;
}

.shopping-history-tfoot {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: center;
}

@media print {
  .shopping-history {
    display: none;
  }
}
