.checkbox {
  padding-right: 0 !important;
  width: 48px;
}

.tfoot {
  padding-bottom: 4em !important;
}

#controls > div {
  margin: 0 0.5em;
}

@media screen {
  .action {
    width: 176px;
  }
}

@media print {
  .action {
    width: 48px;
  }
}
