h1, h2 {
  flex-grow: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-top: 1em;  
}

header > div {
  padding: 0 1em;
}

#notes {
  padding-top: 2em;
  text-align: left;
}

@media screen {
  #notes {
    display: none;
  }
}

@media print {
  h1 {
    font-size: 1em;
  }

  table > tbody > tr > td:first-child,
  table > thead > tr > th:first-child {
    display: none;
  }

  tfoot {
    display: none;
  }
}
